@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('font.css');
@-webkit-keyframes Bounce {
    0% {
        transform: translateY(40%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0);
    }
}
/* #7d50f9 */
/* #ff2e93 */
/* #142664 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: 'GmarketSansMedium','Noto Sans KR', sans-serif;
    background-color: mintcream;
    overflow-y: hidden;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    max-width: 1080px;
    margin: 0 auto;
}

.title {
    position: relative;
    display: block;
    font-size: 45px;
    margin: 20px 0;
    font-weight: 800;
}

.wrap {
    position: relative;
    margin: 40px auto;
    display: block;
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    background-color: #fff;
    box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}


.sticker {
    position: absolute;
    background: url('../images/cyborg-gears.png')no-repeat center;
    background-size: contain;
}

.gear-1 {
    width: 800px;
    height: 800px;
    top: -350px;
    left: -300px;
}

.gear-2 {
    width: 300px;
    height: 300px;
    bottom: -170px;
    left: 300px;
}

/* .gear-3 {
    width: 500px;
    height: 500px;
    right: -100px;
    top: -150px;
    background:url('../images/cyborg-gears-reverse.png')no-repeat center;
    background-size: contain;
} */
/* 고정 help 메뉴 */
.fix-menu {
    position: fixed;
    right: 0;
    bottom: 300px;
    display: block;
    z-index: 9999;
}

.fix-menu li {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.fix-menu a {
    position: relative;
    display: block;
    background-color: #000;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

.fix-menu a:hover {
    background-color: #f00;
}

/* 고정메뉴 */
.fix-content {
    position: fixed;
    left: calc(50% + 450px);
    top: 50%;
    transform: translateY(-50%);
    display: block;
    z-index: 9999;
}

.fix-content li {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.fix-content a {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border-radius: 50%;
    background-color: #000;
    transition: background-color 0.3s;
}

.fix-content a:hover {
    background-color: #f00;
}

.page-box {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column;
    right: 0;
    z-index: 999;
}

.swiper-pagination-bullet {
    position: relative;
    border-radius: 0;
    transform: translateX(40%);
    width: 120px;
    height: 44px;
    padding-left: 5px;
    border-radius: 13px;
    border: 1px solid #00e6b3;
    font-size: 14px;
    font-family: 'GmarketSansMedium';
    line-height: 45px;
    color: #303030;
    border-right: 0;
    margin: 0 5px;
    background-color: #fff;
    opacity: 0.8;
    transition: .3s;
}
.swiper-pagination-bullet:hover {
    background-color: #00e6b3;
    color: #fff;
    transform: translateX(30%);

}

.swiper-pagination-bullet-active {
    border: none;
    z-index: 1;
    opacity: 1;
    border: 1px solid #7d50f9;
    box-shadow: 8px 8px 0px 0px #7d50f9;
    color: #303030 !important;
    background-color: #fff !important;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px;

    border-right: 0;
    transform: translateX(0) !important;
}

/* 헤더 */
.header {
    position: relative;
    display: block;
    width: 100%;
    z-index: 9999;
}

.header-top {
    position: relative;
    display: block;
    width: 100%;
    height: 25px;
}

.logo {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 160px;
    height: 80px;
    background: url('../images/mylogo.png')no-repeat center;
    background-size: contain;
}

/* 메인 */
.wrap-swiper {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 105px;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.visual {}

.visual .container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.visual-photo {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 15px 15px 0px 0px #00e6b3;
    background:url('../images/profile1.jpeg')no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: opacity .3s;
}

.swiper-slide-active .visual-photo {
    transition: opacity 1s 1s;
    opacity: 1;
}

.visual-txt {
    position: relative;
    display: inline-block;
    font-family: 'GmarketSansMedium';
    color: #303033;
    font-size: 35px;
    margin-left: -30px;
    margin-top: 200px;
    opacity: 0;
    right: -50px;
    transition: .3s;
}

.swiper-slide-active .visual-txt {
    transition: 1s .3s;
    right: 0;
    opacity: 1;
}


.visual-txt b {
    font-size: 40px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #7d50f9;
}
.visual-txt strong {
    margin-left: 80px;
    font-size: 60px;
    font-weight: bold;
    opacity: 0;
    transition: opacity .3s;
}
.swiper-slide-active .visual-txt strong {
    transition: .5s 1s;
    opacity: 1;
}

.profile {}
.profile .container{
    display: flex;
    padding: 50px 50px;
}

.profile-left {
    width: 50%;
    padding:0 62px;
}
.profile-left h1{
    font-size: 30px;
    opacity: 0;

}
.swiper-slide-active .profile-left h1{
    position: relative;
    display: inline-block;
    opacity: 1;
    transition: opacity .5s .5s;
    animation: Bounce .5s .5s;
}
.swiper-slide-active .profile-left h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 15px;
    border-radius: 8px;
    background-color: #00e6b3;
    opacity: 0.4;
    z-index: -1;
}
.profile-txt {
    position: relative;
    display: block;
    line-height: 25px;
    font-size: 15px;
    margin-top: 40px;
    color: #707077;
    opacity: 0;
}
.swiper-slide-active .profile-txt{
    opacity: 1;
    transition: opacity .5s 1s;
}
.profile-right {
    position: relative;
    display: block;
    width: 50%;
}

.profile-photo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px 0px #ff2e93;
    background:url('../images/profile1.jpeg')no-repeat center;
    background-size: cover;
    opacity: 0;
}
.swiper-slide-active .profile-photo{
    opacity: 1;
    transition: opacity .5s .5s;
}
.portfolio {}

.skill {}

.mbti {}

.contact {}