@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    min-width: 1260px;
    margin: 0;
    font-family: 'roboto', 'Noto Sans KR', '맑은고딕', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    word-break: break-all;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
}


.good-wrap {
    position: relative;
    display: block;
    margin-bottom: 70px;
}

.good-link {
    position: relative;
    display: block;
    width: 288px;
    /* height: 370px; */
    float: left;
    padding-bottom: 45px;
    margin-left: 16px;
    background-color: #fff;
}

.good-img {
    position: relative;
    display: block;
    width: 100%;
    height: 288px;
    overflow: hidden;
}

.good-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.0);
    width: 100%;
    transition: transform 0.5s;
}

.good-img:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.good-info {
    position: relative;
    display: block;
    margin-top: 14px;
}

.good-cate {
    position: relative;
    display: block;
    overflow: hidden;
}

.good-cate-txt {
    position: relative;
    display: block;

    float: left;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    color: #888;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 0 7px;
    margin-right: 5px;
    margin-bottom: 13px;
}

/* dotdotdot.js 적용 검토 */
.good-title {
    position: relative;
    display: block;

    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;

    font-size: 17px;
    line-height: 22px;

    /* margin-bottom: 13px; */
}

.good-price {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;

}

.good-price b {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.good-tag {
    position: absolute;
    right: 0;
    top: 0;

    display: block;
    width: 50px;
    height: 50px;

    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.375px;
}

.poptag {
    background-color: #76bd42;
}

.saletag {
    background-color: #e14949;
}

.good-cart {
    position: absolute;
    right: 20px;
    bottom: 45px;
    display: block;
    width: 30px;
    height: 30px;

    border: none;
    background: url('../images/btnCartList.png') no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

.good-cart:hover {
    background-position: 0px -30px;
}

.section-title {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 19px;
}

.section-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #777;
}

.section-title h2 {
    position: relative;
    display: block;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.8px;
}

.section-title b {
    position: relative;
    display: block;
    font-weight: 700;
}

.section-desc {
    position: relative;
    display: block;
    margin-top: 24px;
}

.section-bt {
    position: relative;
    display: block;
    width: 114px;
    margin: 25px 0 108px 0;
    color: #000;
    border: 1px solid #bbb;
    background: #fff;
    transition: background-color 0.5s;
}

.section-bt:hover {
    background-color: #f8f8f8;
}

.section-bt-txt {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
}

.no-ml {
    margin-left: 0px !important;
}

.no-mr {
    margin-right: 0px !important;
}

.no-mb {
    margin-bottom: 0;
}

.wrap {
    position: relative;
    display: block;
}

/* 상단 */
.header {
    position: relative;
    display: block;
    height: 131px;
}

.header-top {
    position: relative;
    display: block;
    height: 78px;
}

.header-top .container {
    height: 100%;
    padding-top: 23px;
    padding-bottom: 16px;
}

.logo {
    position: relative;
    display: block;
    width: 190px;
    height: 31px;
    float: left;
    margin-top: 6px;
    background: url('../images/logo.png')no-repeat;
}

.day {
    position: relative;
    float: left;
    width: 56px;
    height: 16px;
    margin-top: 11px;
    margin-left: 18px;
    text-align: center;
    line-height: 16px;
    font-size: 13px;
    color: #666;
    letter-spacing: -0.325px;

    padding-left: 21px;
    background: url('../images/icolocation.png') no-repeat;
    background-position: left center;
}

.login {
    position: relative;
    display: block;
    float: right;
}

.login li {
    position: relative;
    display: block;
    float: left;
    margin: 0 10px
}

.login li a {
    font-size: 13px;
    line-height: 13px;
    color: #666;
    letter-spacing: -0.325px;
}

#login-menu::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url('../images/down.png') no-repeat center;
    margin-left: 5px;
    vertical-align: 2px;
}

.login li:first-child {
    margin-left: 0;

}

.login li::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    width: 1px;
    height: 8px;
    background-color: #bbb;
    transform: translateY(-50%);
}

.login li:last-child {
    margin-right: 0;
}

.login li:last-child::after {
    content: none;
}

.header-main {
    position: relative;
    display: block;
    height: 53px;
}

.header-main .container {
    position: relative;
    display: block;
    height: 53px;
}

.header-main-left {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    padding-bottom: 15px;
}

#all {
    position: relative;
    display: block;
    float: left;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
}

.header-main-left img {
    position: relative;
    margin-right: 15px;
    vertical-align: -3px;
}

.nav {
    position: relative;
    display: block;
    float: left;
}

.gnb {
    position: relative;
    display: block;
    overflow: hidden;
}

.gnb li {
    position: relative;
    display: block;
    float: left;
}

.gnb li:last-child a {
    padding-right: 0;
}

.gnb li a {
    position: relative;
    display: block;
    float: left;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    line-height: 28px;
}

.gnb li:first-child a {
    margin-left: 23px;
}

.ball {
    content: '';
    position: absolute;
    top: 6px;
    right: 2px;
    width: 5px;
    height: 5px;
    background: #f58320;
    border-radius: 50%;
}

.gnbdown {
    content: '';
    position: relative;
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url('../images/gnbdown.png') no-repeat;
    vertical-align: 3px;
    margin-left: 3px;
}

#more {
    position: relative;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #666;
    padding-right: 15px;
    background: url('../images/gnbdown.png') no-repeat;
    background-position: right center;

    margin-left: 40px;
    margin-top: 5px;
}

.header-main-right {
    position: relative;
    display: block;
    float: right;
}

.search {
    position: relative;
    display: block;
    width: 320px;
    height: 40px;
    float: left;
}

#searchtext {
    position: relative;
    display: block;
    float: left;
    line-height: 40px;
    width: 100%;
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', sans-serif;
    font-weight: 400;
    font-size: 13px;
    border-style: none;
    background: #f7f7f7;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #f7f7f7;
    padding-right: 30px;
}

#searchtext::placeholder {
    color: #bebebe;
}

#searchtext:focus {
    border: 1px solid#76bd42;
    background: #fff;
    outline: 1px solid#76bd42;
}

.searchbtn {
    position: absolute;
    display: block;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

.bucket {
    position: relative;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: url('../images/btnCart.png') no-repeat;
    margin-left: 25px;
    margin-top: 8px;

}

.bucket i {
    position: absolute;
    display: block;
    right: -7px;
    top: -1px;
    width: 18px;
    height: 18px;
    background-color: #76bd42;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
}

/* 메인 */
.contents {
    position: relative;
    display: block;
}

/* 비주얼 */
.visual {
    position: relative;
    display: block;
    height: 410px;
    background: url('../images/visual.jpeg') no-repeat center;
}

.visual .container {
    position: relative;
    display: block;
}

/* 이물품은 어떠세요? */
.recommend {
    position: relative;
    display: block;
}

.recommend .container {
    position: relative;
    display: block;
    padding: 85px 0;
}

.recommend h2 {
    position: relative;
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 35px;
}

/* 알뜰물품 */
.sale {
    position: relative;
    display: block;
    background-color: #edf9f9;
}

.sale .container {
    padding: 80px 0;
    overflow: hidden;
}

.section-left {
    position: relative;
    display: block;
    float: left;
}

.sale-right {
    position: relative;
    display: block;
    width: 896px;
    height: 410px;
    overflow: hidden;
    float: right;
}

.sale-right .good-link {
    padding-bottom: 45px;
}

.sale-right .good-link .good-info {
    padding: 0 13px;
}

.sale-right .good-cart {
    right: 19px;
    bottom: 45px;
}

/* 새물품 */
.new {
    position: relative;
    display: block;
}

.new .container {
    padding: 85px 0 80px 0;
}

/* 새물품 타이틀 */
.new-top {
    position: relative;
    display: block;
    overflow: hidden;
}

.new-top h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    float: left;
}

.new-top h2 b {
    font-weight: 700;
}

.new-top .section-bt {
    position: absolute;
    right: 0;
    bottom: -60px;
    margin: 0;

    width: 100px;
}

/* 새물품  */
.new-main {
    position: relative;
    display: block;
    height: 524px;
    padding: 5px 0 20px;
    border-bottom: 1px solid #eee;
}

/* 새물품 내용 왼쪽 */
.new-main-left {
    position: relative;
    display: block;
    float: left;
    margin-top: 22px;
}

.new-main-left img {
    position: relative;
    display: block;
}

.new-main-left b {
    position: relative;
    display: block;
    margin-top: 16px;
    font-size: 27px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.625px;
}

.new-main-left span {
    position: relative;
    margin-top: 4px;
    display: block;
}


/* 새물품 내용 오른쪽 */
.new-main-right {
    position: relative;
    display: block;
    float: right;
    width: 608px;
}

.new-main-right li {
    position: relative;
    display: block;
    float: left;
    width: 288px;
    margin-left: 16px;
    margin-top: 22px;
}

.new-main-right-list {
    position: relative;
    display: block;
}

.new-good-sm-img {
    width: 100%;
    height: 182px;
    position: relative;
    display: block;
}

.new-good-sm-title {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 10px;
    letter-spacing: -0.025em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 조합원추천물품 */
.copartner {
    position: relative;
    display: block;
    background: #fff8fa;

}

.copartner .container {
    overflow: hidden;
    padding: 80px 0;
}

.copartner .section-title span {
    color: #76bd42 !important;
    font-weight: 700;
}

.copartner .section-desc {
    font-size: 17px;
    line-height: 29px;
}

.copartner .section-desc:after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #76bd42;
}

.copartner-right {
    position: relative;
    display: block;
    width: 896px;
    height: 410px;
    overflow: hidden;
    float: right;
}

/* 인기물품 */
.popular {
    position: relative;
    display: block;
}

.popular .container {
    padding: 80px 0;
}

.popular-top {
    position: relative;
    display: block;
    margin-bottom: 35px;
}

.popular-top .section-title {
    padding-bottom: 0;
}

.popular-top .section-title:after {
    content: none;
}

.popular-top .section-title b {
    display: inline-block;
}

.popular-top .section-bt {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
}

.popular-middle {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.popular-slide {
    position: relative;
    display: block;
    width: 1040px;
    height: 140px;

    margin: 0 auto;
}

.popular-bt {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    background-color: #f9f9f9;
    padding-top: 20px;
    border: 1px solid #f9f9f9;
    float: left;
    margin-left: 10px;
}

.popular-bt:hover .popular-bt-img {
    background-position: 0px -64px;
}

.popular-bt:hover {
    background-color: #fff;
    border: 1px solid #76bd42;
}

.popular-bt-focus {
    background: #fff !important;
    border: 1px solid #76bd42 !important;
}

.popular-bt-focus .popular-bt-img {
    background-position: 0px -64px;
}

.popular-bt-img {
    position: relative;
    display: block;
    width: 65px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 15px;
}



.popular-bt-txt {
    position: relative;
    display: block;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    letter-spacing: -0.425px;
}

.icon-1 {
    background: url('../images/cart1.png')no-repeat;
    background-position: 0px 0px;
}

.icon-2 {
    background: url('../images/cart2.png')no-repeat;
    background-position: 0px 0px;
}

.icon-3 {
    background: url('../images/cart3.png')no-repeat;
    background-position: 0px 0px;
}

.icon-4 {
    background: url('../images/cart4.png')no-repeat;
    background-position: 0px 0px;
}

.icon-5 {
    background: url('../images/cart5.png')no-repeat;
    background-position: 0px 0px;
}

.icon-6 {
    background: url('../images/cart6.png')no-repeat;
    background-position: 0px 0px;
}

.icon-7 {
    background: url('../images/cart7.png')no-repeat;
    background-position: 0px 0px;
}

.icon-8 {
    background: url('../images/cart8.png')no-repeat;
    background-position: 0px 0px;
}

.icon-9 {
    background: url('../images/cart9.png')no-repeat;
    background-position: 0px 0px;
}

.icon-10 {
    background: url('../images/cart10.png')no-repeat;
    background-position: 0px 0px;
}

.icon-11 {
    background: url('../images/cart11.png')no-repeat;
    background-position: 0px 0px;
}

.icon-12 {
    background: url('../images/cart12.png')no-repeat;
    background-position: 0px 0px;
}

.icon-13 {
    background: url('../images/cart13.png')no-repeat;
    background-position: 0px 0px;
}

.icon-14 {
    background: url('../images/cart14.png')no-repeat;
    background-position: 0px 0px;
}

.popular-slide-prev {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 20px;
    background: url('../images/arrowleft.png') no-repeat center top;
}

.popular-slide-prev:hover {
    background: url('../images/arrowleft.png') no-repeat center bottom;
}

.popular-slide-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 26px;
    height: 20px;
    background: url('../images/arrowright.png') no-repeat center top;
}

.popular-slide-next:hover {
    background: url('../images/arrowright.png') no-repeat center bottom;
}

/* 브랜드관 */
.brand {
    position: relative;
    display: block;
    background-color: #f3f9f0;
    padding: 80px 0;
}

.brand .container {}

.brand-left {
    position: relative;
    display: block;
    float: left;
}

.brand-left .section-bt {
    color: #000;
}

.brand-right {
    position: relative;
    display: block;
    float: right;
    width: 895px;
}

.brand-nature {
    position: relative;
    display: block;
    width: 285px;
    height: 285px;
    background-color: #fff;
    padding: 35px 0;
    float: left;
    margin-left: 20px;

}

.brand-nature a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.brand-nature-title {
    position: relative;
    display: block;
}

.brand-nature-title img {
    position: relative;
    display: block;
    margin: 0 auto;
}

.brand-nature-title span {
    position: relative;
    display: block;

    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
    line-height: 27px;
    letter-spacing: -0.45px;
}

.brand-nature-detail {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 34px;
    padding-top: 6px;
}

.brand-nature-detail:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 62px;
    background: #e3e3e3;
}

.brand-nature-detail li {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    width: 50%;
}

.brand-nature-cate {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    letter-spacing: -0.4px;
}

.brand-nature-desc {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.45px;
}

/* 배너 */
.banner {
    position: relative;
    display: block;
}

.banner .container {
    position: relative;
    display: block;
    margin-top: 80px;
    height: 220px;
}

.banner-slide {
    position: relative;
    display: block;
}

.banner-img {
    position: relative;
    display: block;
    float: left;
    width: 50%;
}

.banner-prev,
.banner-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 19px;
    height: 34px;
    background: url('../images/bannerarr1.png')no-repeat;
    background-position: 0px -34px;
}

.banner-prev {
    transform: translateY(-50%);
    left: 20px;
}

.banner-next {
    right: 20px;
    transform: translateY(-50%) scale(-1);

}

.banner-prev:hover,
.banner-next:hover {
    background-position: 0px 0px;
}

/* 제철요리 */
.cook {
    position: relative;
    display: block;
}

.cook .container {
    padding-top: 85px;
    padding-bottom: 80px;
}

.cook .section-title b {
    display: inline-block;
}

.cook .section-title::after {
    content: none;
}

.cook-main {
    position: relative;
    display: block;
}

/* js 로 배경을 인라인 방식으로 변경 해보자. */
.cook-left {
    position: relative;
    display: block;
    width: 787px;
    height: 420px;
    float: left;
}

.cook-left a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.cook-box {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 640px;
    height: 155px;

    background-color: rgba(255, 255, 255, 0.8);
}

.cook-title {
    position: relative;
    display: block;
    width: 155px;
    height: 100%;

    background-color: #76bd42;
    float: left;

    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    letter-spacing: -0.625px;

    padding-left: 16px;
    padding-top: 95px;
}

.cook-desc {
    position: relative;
    display: block;
    width: calc(100% - 155px);
    height: 100%;
    float: left;

    font-size: 25px;
    line-height: 37px;
    color: #333;
    letter-spacing: -0.375px;

    padding-left: 30px;
    padding-top: 40px;
}

.cook-desc b {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    color: #000;
}

.cook-right {
    position: relative;
    display: block;
    width: 343px;
    height: 420px;
    float: right;

}

.cook-wrap {
    position: relative;

    display: block;
    width: 100%;
    height: 270px;

    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;

}

.cook-bt {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/inpCheck.png') no-repeat;
    background-position: 0px -36px;
    border: 0;
    cursor: pointer;
}

.cook-list {
    position: relative;
    display: block;
}

.cook-list li {
    position: relative;
    display: block;
    margin-bottom: 13px;
}

.cook-good {
    position: relative;
    display: inline-block;
    margin-left: 40px;

    overflow: hidden;
}

.cook-good>img {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;

    float: left;
}

.cook-good-info {
    position: relative;
    display: block;
    float: left;
    margin-left: 20px;
}

.cook-good-title {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.375px;

    padding-top: 12px;
    padding-bottom: 10px;
}

.cook-good-price {
    position: relative;
    display: block;

    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.cook-good-price b {
    font-size: 20px;
    font-weight: 500;
}


.cook-total {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.375px;
    padding: 35px 0;
}

.cook-bt-all {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 40px;
}

.cook-link {
    position: relative;
    display: block;

    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 20px;
    text-align: center;

    border: 1px solid #bbb;
    background-color: #fff;
    transition: background-color 0.5s;
    padding: 20px 0;
}

.cook-link:hover {
    background-color: #f8f8f8;
}

#cook-price-total {
    font-weight: 700;
}


/* 이용후기 */
.review {
    position: relative;
    display: block;
    background-color: #fcf6f2;
}

.review .container {
    padding: 80px 0;
}

.review-left {
    position: relative;
    display: block;
    float: left;
}

.review-right {
    position: relative;
    display: block;
    float: right;
    width: 896px;
    overflow: hidden;
}

.review-box {
    position: relative;
    display: block;
    width: 288px;
    height: 234px;
    background-color: #fff;
    padding: 30px 20px;
    float: left;
    margin-left: 16px;
}

.review-box-title {
    position: relative;
    display: block;
    overflow: hidden;
}

.review-box-left {
    position: relative;
    display: block;
    float: left;
}

.review-box-link {
    position: relative;
    display: block;
    width: 165px;
    font-size: 17px;
    font-weight: 700px;
    letter-spacing: -0.425px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-box-star {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.425px;
    padding-left: 24px;
    background: url('../images/icoRating.png') no-repeat left center;
    margin-top: 5px;
}

.review-box-right {
    position: relative;
    display: block;
    float: left;
}

.review-box-img {
    width: 66px;
    height: 66px;
}

.review-box-desc {
    position: relative;
    display: block;
}

.review-box-desc a {
    position: relative;
    height: 60px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.325px;

    /* 3줄 줄임 dotdotdot.js 고려 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 20px;
}

.review-box-id {
    position: relative;
    display: block;

    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.325px;
    margin-top: 20px;
}

/* 커뮤니티 */
.comm {
    position: relative;
    display: block;
}

.comm .container {
    position: relative;
    display: block;
}

/* 하단 */
.footer {
    position: relative;
    display: block;
    height: 239px;
}

.footer-top {
    position: relative;
    display: block;
    height: 56px;
}

.footer-top .container {
    position: relative;
    display: block;
}

.footer-bottom {
    position: relative;
    display: block;
    height: calc(239px - 56px);
}

.footer-bottom .container {
    position: relative;
    display: block;
}