
/* 커뮤니티 */
.comm {
    position: relative;
    display: block;
}
.comm .container {
    padding-top: 85px;
    padding-bottom: 124px;
}
.comm-box {
    position: relative;
    display: block;
    width: 360px;
    float: left;    
}

.notice-menu {
    position: relative;
    display: block;
    overflow: hidden;

    margin-bottom: 30px;
}

.notice-menu button {
    position: relative;
    display: block;

    float: left;
    border: 0;
    background-color: #fff;

    font-weight: 700;
    color: #000;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.5px;

    margin: 0 10px;
    color: #999;
}

.notice-menu button:first-child::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 1px;
    height: 18px;
    background-color: #e5e5e5;
}

.notice-menu-focus {
    color: #000 !important;
}

.notice-wrap {
    position: relative;
    display: block;

    padding-right: 25px;
}

.notice-list,
.news-list {    
    position: absolute;
    left: 0;
    top: 0;

    display: none;
}

.notice-list-focus {
    display: block !important;
}

.notice-list li, 
.news-list li {   
    position: relative;
    display: block; 

    overflow: hidden;

    margin-bottom: 15px;
}


.notice-list a, 
.news-list a {
    position: relative;
    display: block;
    width: 260px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.325px;

    float: left;
}


.notice-date {   
    position: relative;
    display: block; 

    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.325px;
    color: #999;

    float:right;
}

/* 하단 */