@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('../css/Apple_SD_Neo/');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
    font-family: 'Noto Sans KR','Apple SD Gothic Neo','malgun gothic','맑은 고딕','돋움','dotum';
}

/* 공통영역 */
.container {
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
}

/* 전체 */
.wrap {
    position: relative;
    display: block;
}

/* 상단 */
.header {
    position: fixed;
    display: block;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #bbb;
}

.header .container {
    height: 100%;
}

.logo {
    position: relative;
    display: block;
    top:0;
    left: 0;
    float: left;
    width: 110px;
    background: url('../images/logo.png')no-repeat;
    height: 100%;
}
.nav {
    position: relative;
    display: block;
}
.gnb {
    position: relative;
    display: block;
    height: 100%;
}
.gnb >li{
    position: relative;
    display: block;
    float: left;
    line-height: 80px;
}
.gnb >li >a{
    padding: 0 13px;
    display: block;
    line-height: 80px;
    color: #222;
    font-size: 16px;
    float: left;
    top: 0;
}
.header-right {
    position: relative;
    display: block;
    height: 100%;
}
.user-area {
    position: relative;
    display: block;
}
.user-area div{
    position: relative;
    display: block;
    float: right;
}
.modechange {
    position: relative;
    display: block;
    width: 44px;
    height: 18px;
    background: url('../images/night.png') no-repeat;
}
.languagechange {
    position: relative;
    display: block;
}
/* 메인 */
.visual {
    position: relative;
    display: block;
}

.visual .container {}

.business {
    position: relative;
    display: block;
}

.business .container {}

.product {
    position: relative;
    display: block;
}

.product .container {}

.esg {
    position: relative;
    display: block;
}

.esg .container {}

.news {
    position: relative;
    display: block;
}

.news .container {}

/* 하단 */
.footer {
    position: relative;
    display: block;
}

.footer-top {
    position: relative;
    display: block;
}

.footer-top .container {}

.footer-bottom {
    position: relative;
    display: block;
}

.footer-bottom .container {}