@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('notosanskr/NotoSansKR.css');
@import url('nanumgothic/nanumgothic.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
    ;
}

img {
    border: 0;
    vertical-align: center;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: 'Roboto', 'Noto Sans KR', 'Nanum Gothic', 'NanumGothic', '나눔고딕', '돋움', dotum, sans-serif;
    color: #272727;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

.container {
    position: relative;
    display: block;
    width: 1280px;
    margin: 0 auto;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}
/* 진료예약 */
.quick-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 837px;
    background: url('../images/bg_topEasy.jpeg')no-repeat center;
}
.quick-banner {
    position: relative;
    display: block;
    height: 90px;
    background-color: #04315e;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 50%);
    text-align: center;
}
.quick-img {
    width: auto;
    height: 100%;
}
.quick-banner .container {
    height: 100%;
}
.quick-day {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
.quick-wrap {
    position: relative;
    display: block;
}
.wrap {
    position: relative;
    display: block;
}

/* 상단 */
.header {
    position: relative;
    display: block;
}

/* 메인 */
.main {
    position: relative;
    display: block;
}

.visual {
    position: relative;
    display: block;
}

.visual .container {}

.news {
    position: relative;
    display: block;
}

.news .container {}

.link {
    position: relative;
    display: block;
}

.link .container {}

.health {
    position: relative;
    display: block;
}

.health .container {}

.service {
    position: relative;
    display: block;
}

.service .container {}

.notice {
    position: relative;
    display: block;
}

.notice .container {}

/* 하단 */
.footer {
    position: relative;
    display: block;
}

/* 네트워크 */
.footer-network {
    position: relative;
    display: block;
}

/* 하단내용 */
.footer-wrap {
    position: relative;
    display: block;
}